.common_conditions: &common_conditions
  state: opened
  ruby: |
<% if stage_label_name %>    can_add_default_group_and_stage?<% else %>    can_add_default_group?<% end %><% if default_labeling.slice('exclude_projects').any? %> &&
    <%= default_labeling['exclude_projects'].inspect %>.exclude?(resource[:project_id])<% end %>
.common_actions: &common_actions
  labels:
    - "<%= group_label_name %>"
<% if stage_label_name %>    - "<%= stage_label_name %>"<% else %>REMOVE ME<% end %>
<% extra_labels.each do |label| %>    - "<%= label %>"
<% end %>
resource_rules:
  issues:
    rules:
      - name: Add ~"<%= group_label_name %>"<% if stage_label_name %>, ~"<%= stage_label_name %>"<% end %><%- if extra_labels.any? %><%- extra_labels.each do |label| %>, ~"<%= label %>"<% end %><% end %> to open issues
        conditions:
          <<: *common_conditions
        actions:
          <<: *common_actions

  merge_requests:
    rules:
      - name: Add ~"<%= group_label_name %>"<% if stage_label_name %>, ~"<%= stage_label_name %>"<% end %><%- if extra_labels.any? %><%- extra_labels.each do |label| %>, ~"<%= label %>"<% end %><% end %> to open merge requests
        conditions:
          <<: *common_conditions
        actions:
          <<: *common_actions
